extends layout
block content 
    div.main_content
        h1 #{title}
        hr
        br
        div.form_box
            form(method="POST" action="")
                div.form_item
                    label(for = "name") Name:
                    input(type = "text" id="name" name="name" 
                          placeholder = "Santa Monica Studios, Konami, Electronic Arts, Naughty Dog etc."
                          value=(undefined === developer ? "" : developer.name))
                div.form_item
                    label(for = "founded") Founded:
                    input(type = "number" id="founded" name="founded" 
                          placeholder = "eg. 2000"
                          value=(undefined === developer ? "" : developer.founded))
                div.form_item
                    label(for = "summary") Summary:        
                    textarea(id="summary" name="summary") #{undefined === developer ? "" : developer.summary}
                div.form_item
                    label(for = "icon") Icon URL:
                    input(type = "text" id="icon" name="icon" value=(undefined === developer ? "" : developer.icon))
                button(type = "submit") Submit

            if errors 
                    ul 
                        for error in errors
                            li!= error.msg