
extends layout

block content
    main(class="main_content")
        div(class="gameDetail_container")
            img(class="gameDetail_image" src=game.photo alt="game")
            div(class="gameDetail__info")
                h1 #{game.name} (#{game.releaseDate})
                h2 directed by #{game.director}
                h2 !{game.summary}
                div.gameDetail__developer
                    h2 Developed by  
                    a(href=game.developer.url)
                        img.gameDetail__developer__icon(src=game.developer.icon)
                div.gameDetail__platform
                    h2 Platforms
                    for platform in game.platform
                        a(href=platform.url)
                            img.gameDetail__platform__icon(src=platform.icon)
                div.gameDetail__genre
                    h2 Genre 
                    for genre in game.genre
                        a.genre(href=genre.url) #{genre.name}
        br
        hr
        br
        button
            a(href=game.url+'/delete') Delete
        button
            a(href=game.url+'/update') Update
                
                
            