extends layout

block content
  main(class="main_content")
    section
      h1(class="main_content_title")= title
      h1 Site Summary

      if error
        p Error getting dynamic content.
      else
        p We have the following records:
        ul(class="records_container")
          li
            a(href='/games') Games:#{data.game_count}
          li
            a(href='/developers') Developers:#{data.developer_count}
          li
            a(href='/genres') Genres:#{data.genre_count}
          li
            a(href='/platforms') Platforms:#{data.platform_count}
          li
            a(href='/reviews') Reviews:#{data.review_count}
          
    section
      h1 Spotlight 
      a(class="featured")
        h1(class="featured_title") Metal Gear Solid 2
    section 
      h1 Top Rated 
      div(class="game_cards_container")
        a(class="game_card" style="--bg-image: url(/images/mgs2.png)")
          span(class="game_card_title") Metal Gear Solid 2
        a(class="game_card" style="--bg-image: url(/images/mgs31.jpg)")
          span(class="game_card_title") Metal Gear Solid 3
        a(class="game_card" style="--bg-image: url(/images/mgs3.jpg)")
          span(class="game_card_title") Final Fantasy X
        a(class="game_card" style="--bg-image: url(/images/bloodborne.webp)")
          span(class="game_card_title") Bloodborne
        a(class="game_card" style="--bg-image: url(/images/darksouls.jpg)")
          span(class="game_card_title") Dark Souls
  