extends layout

block content
    main(class="main_content")
        h1 Platform:
            div.platform__details
                h1.platform__details__name #{platform.name}
                img.platform__details__icon(src=platform.icon alt="icon")
        br
        div(style='margin-left:20px;margin-top:20px')
            h1 Games
            hr
            br
            div(class="game_cards_container")
                each game in platform_games
                    a(href=game.url class="game_card" style=`--bg-image: url(${game.photo})`)
                        span(class="game_card_title") #{game.name}
                else
                    p This platform has no games  
        br
        hr
        br
        button
            a(href=platform.url+'/delete') Delete
        button 
            a(href=platform.url+'/update') Update