extends layout

block content
    main(class="main_content")
        div(class="reviewDetail_container")
            h2 Review of : 
                a(href=review.game.url) #{review.game.name} 
            h2 by #{review.sourceSite}
            h2 Rating: #{review.rating}
            h2 Snippet
            p #{review.snippet}
            a(href=review.link) See the whole review (in a new tab) &#8594
        br
        hr
        br
        button
            a(href=review.url+'/delete') Delete
        button 
            a(href = review.url+'/update') Update
               
                
                